.contact {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: fit-content;
}

.contact__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-around;
	align-items: center;
	min-height: fit-content;
}

.contact__info {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	align-items: center;
}

.contact__title {
	font-size: 36px;
	width: 100%;
}

.contact__text {
	font-size: 24px;
	padding-left: 35px;
}

.contact__email {
	padding-top: 20px;
	font-size: 24px;
}

.contact__image {
	width: 50%;
	height: auto;
}

@media only screen and (min-width: 768px) {
	.contact__container {
		flex-direction: row;
	}

	.contact__container {
		width: 100%;
	}

	.contact__image {
		width: 20%;
		height: auto;
	}

	.contact__info {
		max-width: 40%;
	}
}

@media only screen and (min-width: 1024px) {
	.contact__title {
		font-size: 48px;
	}

	.contact__text {
		font-size: 36px;
	}

	.contact__email {
		font-size: 36px;
	}
}
